a:hover, .topLine h2 a:hover,.hentry h2 a:hover,.hentry a:hover,.widget_randposts li a:hover,.widget_activities dt a:hover,#related a:hover,.comment-author strong a,.comment-author strong,#wp-calendar a{
	color: #E58994;
}
.nav,#searchform #searchsubmit,.widget_tagclouds a strong,.widget_activities dd a,.pages span,#loginform .submit {
	background-color: #000;
}
.nav a:hover,.nav .current-menu-item a {
	background: #0e0e0e;
}
.signOut .adminComments {
	background: #333;
}
.header .search {
	border-top: 1px solid #111;
	border-left: 1px solid #111;
	background-color: #555;
}
.search.fold {
	background-color:transparent;
	border:0
}
.search.fold:hover {
	border-top: 1px solid #111;
	border-left: 1px solid #111;
	background-color: #555;
}
input#s {
	color: #999;
}
.search input::-webkit-input-placeholder {
	color:#999
}
#searchform input#s {
	border-color: #111;
}
#qmenu .qmenua:hover, #qmenu.open .qmenua {
	border-color: #111;
	background-color: #555;
}
.qmenu-drop,#loginform .submit {
	border: 1px solid #333;
}
.qmenu-drop:before {
	border-color: transparent transparent #333 transparent;
}
#submit, #btnsubmit {
	float: right;
	background: #333;
	background: -webkit-linear-gradient(top,#555;,#333);
	background: -moz-linear-gradient(top,#555;,#333);
	background: -ms-linear-gradient(top,#555;,#333);
	background: -o-linear-gradient(top,#555;,#333);
	background: linear-gradient(top,#555;,#333);
}
.widget_hotandnew .topRank em {
	border: 2px solid red;
	color: red;
}
.widget_activities dd a:hover {
	background: #555;
}